@import url('https://fonts.googleapis.com/css?family=Karla:regular,bold,bolder,italic');
@import '../../assets/styles/colours';

.link {
  &-name,
  &-url {
    &__input,
    &__text {
      font-size: 16px;
      font-weight: 300;
      font-family: 'Karla';
      border: none;
      padding: 0;
      margin: 0;
      outline: none;
      &:focus {
        border-bottom: 1px solid $le-light-green;
      }
    }
    &__input {
      width: 100%;
      color: $le-dark-grey;
    }
    &__text {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $le-dark-blue;
    }
  }
}
