.network {
    box-sizing: border-box;
    padding: 1rem;
    @media screen and (min-width: '768px') {
        padding: 0;
        padding-left: 85px;
    }
    &__item {
        border: 1px solid transparent;
        box-sizing: border-box;
        display: flex;
        cursor: pointer;
        flex-direction: column;
        font-size: 24px;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 200px;
        border-radius: 10px;
        background-color: var(--c_grey-m);
        color: var(--c_grey-d);
        padding: 1em;
        transition: all 300ms ease-in-out;
        &--set {
            background-color: var(--c_blue-d);
            color: white;
        }
        &--active {
            background-color: var(--c_green-l);
            color: var(--c_blue-d);
        }
        &:hover, &:focus {
            background-color: var(--c_pink-m);;
            box-shadow: 1px 1px 2px 0 var(--c_grey-d);
            transform: scale(1.05);
        }
    }
    &__button {
        background-color: var(--c_green-l);
        border: 1px solid transparent;
        color: white;
        cursor: pointer;
        padding: 7px;
        border-radius: 50%;
        font-size: 24px;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 300ms ease-in-out;
        &:hover, &:focus {
            background-color: #35b9a9;
            box-shadow: 1px 1px 2px 0 var(--c_grey-d);
            transform: scale(1.1);
        }
        &:active {
            background-color: var(--c_blue-d)
        }
    }
}

.container {
    max-width: 1335px;
    margin: 0 auto;
  }
  
  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
  
  .grid-item {
    // height: 550px;
    flex-basis: 20%;
    -ms-flex: auto;
    width: 259px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
  }