
.avatar {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    p {
        color: white;
        font-weight: bold;
    }
    .image-container {
        img {
            height: 7rem;
            width: 7rem;
            border-radius: 50%;
            display: block;
            object-fit: contain;
            object-position: initial;
            filter: none;
        }
        
    }
}
