
// BLUE
$le-dark-blue: #384259;
$le-medium-blue: #515e7c;

// GREY
$le-light-grey: #f4f5f6;
$le-medium-grey: #c9d0d8;
$le-dark-grey: #738498;


// GREEN
$le-light-green: #2fc4b2;

// ORANGE
$le-medium-orange: #f29e50;

// PINK
$le-medium-pink: #fc5185;

